# --- Laravel (Backend) ---
/backend/vendor/
/backend/.env
/backend/.env.backup
/backend/.phpunit.result.cache
/backend/storage/*.key
/backend/storage/framework/cache/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*
/backend/storage/logs/*
!/backend/storage/framework/.gitignore
!/backend/storage/framework/cache/.gitignore
!/backend/storage/framework/sessions/.gitignore
!/backend/storage/framework/views/.gitignore
!/backend/storage/logs/.gitignore
/backend/bootstrap/cache/*
!/backend/bootstrap/cache/.gitignore
/backend/node_modules/
/backend/public/storage
/backend/npm-debug.log
/backend/yarn-debug.log
/backend/yarn-error.log

# --- ReactJS (Frontend) ---
/frontend/node_modules/
/frontend/build/
/frontend/dist/
/frontend/public/hot
/frontend/public/storage
/frontend/npm-debug.log
/frontend/yarn-debug.log
/frontend/yarn-error.log
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/.DS_Store

# --- Sistema y Editores ---
.DS_Store
.vscode/
.idea/
*.log