.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cintillo {
    width: 15rem;
    height: 3.5rem;
}

.logo {
    width: 8.5rem;
    height: 3.5rem;
}

@media (max-width: 500px) {
    .cintillo {
        width: 12rem;
        height: 2.8rem;
    }

    .logo {
        width: 6.8rem;
        height: 2.8rem;
    }
}