.contenedor-ppal-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contenedor-login {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    height: auto;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;

    flex: 0 1 auto;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
}

.div1,
.div2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.title-login {
    text-align: center;
    margin-bottom: 0.2rem;
    font-size: clamp(20px, 6vw, 34px);
}

.subtitle-login {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: clamp(14px, 6vw, 21px);
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
}

.olvido {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: var(--fg-dark);
    text-decoration: none;
}

.acepta-politicas {
    font-size: 0.8rem;
    color: #686161;
    text-align: center;
    margin-top: 1.5rem;
}

.div2 {
    background: #8E2DE2;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2);

    border-radius: 10px;
}

.imgsatelite {
    width: 12rem;
    height: auto;
}

.texto-div2 {
    text-align: center;
    color: #ffffff !important;
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-size: clamp(10px, 6vw, 20px);
}

.notificaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 2rem;
}

.noti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    /* background-color: var(--bg-form); */
    font-weight: bold;
}

.texto-noti {
    margin: 0;
    text-align: center;
    font-size: 3rem;
}

.span-noti {
    margin: 0;
    text-align: center;
    font-size: 1rem;
    color: #b9b6b6;
}

@media (max-width: 970px) {
    .contenedor-login {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;

        .div2 {
            width: 91%;
        }
    }
}