.contenedor-medio {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-user {
    width: 80rem;
    margin-top: 1rem;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.5rem;
}

.header-seccion-user {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
    margin-bottom: 1rem;
}

.bg-esta-activo {
    color: #000000 !important;
    border-radius: 10px;
    margin-right: 0.8rem;
}

.bg-esta-inactivo {
    color: #EA2027 ;
    border-radius: 10px;
    margin-right: 0.8rem;
}

.loading-text {
    text-align: center;
    color: rgb(182, 20, 20);
    font-size: 0.9rem;
}