@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* GENERALES */
:root {
  --bg-basic: #ddd;
  --bg-form: #183592;
  --fg-dark: #121316;
  --fg-grey: #756c6c;
  --bg-menu: #0F2A5A;

  --bg-input: #4FC3F7;

  --bg-btn-agregar: #1f66eb;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-basic);
  color: var(--fg-dark);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}